<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<nav th:fragment="common-navbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}"><img class="img img-responsive"
                                                        th:attr="src=@{'/images/scoreboard.png'}"
                                                        style="max-height: 50px; margin-top: -15px;" alt="logo"/></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/addPlayer}">Add Player</a></li>
                <li><a th:href="@{/startMatch}">Start Match</a></li>
                <li><a th:href="@{/history}">History</a></li>
                <li><a th:href="@{/graphs}">Graphs</a></li>
            </ul>
        </div>
    </div>
</nav>


</body>
</html>


