<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="common-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}"><img alt="logo"
                                                        class="img img-responsive"
                                                        style="max-height: 50px; margin-top: -15px;" th:attr="src=@{'/images/scoreboard.png'}"/></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/addPlayer}">Add Player</a></li>
                <li><a th:href="@{/startMatch}">Start Match</a></li>
                <li><a th:href="@{/history}">History</a></li>
                <li><a th:href="@{/graphs}">Graphs</a></li>
            </ul>
        </div>
    </div>
</nav>


</body>
</html>


