<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common-header"/>

<body>

<div th:replace="fragments/navbar :: common-navbar"></div>
<div class="container">

    <div class="starter-template">
        <div class="container">
            <h2>Add Player</h2>

            <hr/>

            <div class="container">

            </div>

        </div>


    </div>

</div><!-- /.container -->

<div th:replace="fragments/header :: before-body-scripts"></div>
</body>
</html>
