<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common-header"/>

<body>

<div th:replace="fragments/navbar :: common-navbar"></div>
<div class="container">

    <div class="starter-template">
        <div class="container">
            <h2>Start Match</h2>
            <hr/>
            <div class="container">
                <form id="startMatch" method="post" th:action="@{/createMatch}" th:object="${match}">
                    <div class="form-group">
                        <label for="playerOne">Player 1:</label>
                        <select class="form-control" id="playerOne" th:field="*{playerOne.id}">
                            <option th:each="player : ${players}"
                                    th:text="${player.firstName} + ' ' + ${player.lastName}"
                                    th:value="${player.id}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="playerTwo">Player 1:</label>
                        <select class="form-control" id="playerTwo" th:field="*{playerTwo.id}">
                            <option th:each="player : ${players}"
                                    th:text="${player.firstName} + ' ' + ${player.lastName}"
                                    th:value="${player.id}"></option>
                        </select>

                    </div>
                    <button class="btn btn-success" type="submit">Start Match</button>
                    </button>
                </form>

                <div th:replace="fragments/messages :: message"></div>
            </div>
        </div>
    </div>

</div><!-- /.container -->

<div th:replace="fragments/header :: before-body-scripts"></div>
</body>
</html>
