<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common-header"/>

<body>

<div th:replace="fragments/navbar :: common-navbar"></div>
<div class="container">

    <div class="starter-template">
        <div class="container">
            <h2>Match in progress</h2>
            <h4><span th:text="${playerOne.firstName}">player 1</span> vs <span th:text="${playerTwo.firstName}"></span>
            </h4>
            <hr/>
            <div class="container">

                <div class="row">
                    <div class="col-sm-6">
                        <h5 th:text="${playerOne.firstName}">Player 1</h5>
                        <hr/>
                        <div class="player-score" th:text="${currentMatch.playerOneScore}">0</div>
                    </div>
                    <div class="col-sm-6">
                        <h5 th:text="${playerTwo.firstName}">Player 2</h5>
                        <hr/>
                        <div class="player-score" th:text="${currentMatch.playerTwoScore}">0</div>
                    </div>
                </div>

                <div th:replace="fragments/messages :: message"></div>
            </div>
        </div>
    </div>

</div><!-- /.container -->

<div th:replace="fragments/header :: before-body-scripts"></div>
</body>
</html>
